*.sdf
*.suo
*.ilk
*.exe
Quarrel.pdb
*.obj
/Quarrel/Debug/vc140.pdb
vc140.idb
*.log
*.ipdb
*.iobj
vc140.pdb
*.tlog
*.user
*.ipch
/QuarrelTests/ReleaseNoOpt
*.opensdf
*.exp
QuarrelTests.pdb
QuarrelTests.lib
QuarrelTests.dll
imgui.ini
Quarrel/ImGui/README.md
LibFilenames.txt
*.idb
*.lib
*.pdb
*.opendb
*.dll
*.db
*.db-shm
*.db-wal
*.filters
*.vcxproj
*.sln
/Generated/.vs/*.sqlite
PremakeGenerated/
.vscode/
