PremakeGenerated/
.vscode/
*.sdf
*.suo
*.ilk
*.exe
*.obj
*.log
*.ipdb
*.iobj
*.tlog
*.user
*.ipch
*.opensdf
*.exp
imgui.ini
Quarrel/ImGui/README.md
*.idb
*.lib
*.pdb
*.opendb
*.dll
*.db
*.db-shm
*.db-wal
*.filters
*.vcxproj
*.sln
*.sqlite
PremakeGenerated/
.vscode/
Screenshots
*.d
*.o
*.recipe
